.site-header-column {
  padding: 5em 0 !important;
}

.site-header-column h1 {
  font-size: 5em;
  margin-bottom: 0 !important;
}

.site-header-column p {
  margin: 0.5em 0em 1em 0em !important;
}

pre {
  border-radius: 0.3em;
  padding: 1.5em !important;
}

code {
  font-family: monospace !important;
  font-weight: 700;
}

.demo-header h1 {
  font-size: 3em;
}

.demo-inner {
  min-width: 100%;
}

.demo-outer {
  min-height: 100%;
}

.addthis_sharing_toolbox {
  display: inline-block;
  position: relative;
  top: -2px;
}

@keyframes custom-hide-animation {
  0% {
    transform: scale(1, 1);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
