.notiny-container {
  position: fixed;
}

.notiny-wrapper {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  min-height: 30px;
  clear: 300px;
}

.notiny-wrapper .notiny-wrapper-img {
  margin: 0;
  padding: 0;
  float: left;
  border-radius: 2px;
  width: 32px;
  height: 32px;
}

.notiny-wrapper .notiny-wrapper-text {
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display: block;
  overflow: hidden;
}
