.notiny-container, .notiny-wrapper, .notiny-content-img, .notiny-content-text {
  margin: 0;
  padding: 0;
}
.notiny-wrapper a {
  outline: 0;
}
.notiny-container {
  position: fixed;
  z-index: 9999;
}
.notiny-content {
  padding: 3px 3px;
  margin: 2px 0px;
  border-radius: 2px;
  cursor: pointer;
  min-height: 32px;
}
.notiny-content-img {
  display: block;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  float: left;
}
.notiny-content-text {
  font-family: sans-serif;
  font-size: 0.8em;
  padding: 8px 5px 6px 5px;
  display: block;
  overflow: hidden;
}

/* Animations */

@keyframes notiny-animation-hide {
  0% {
    transform: scale(1, 1);
  }
  20% {
    opacity: 1;
  }
  30% {
    transform: scale(1.2, 1.2);
  }
  90% {
  }
  100% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1, 1);
  }
}
@keyframes notiny-animation-show {
  0% {
    opacity: 0;
    transform: scale(1, 1);
    filter: blur(3px);
  }
  5% {
    opacity: 1;
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  90% {
    filter: blur(0px);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes notiny-animation-hover {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}
.notiny-theme-dark {
  background-color: #202020;
  color: #f5f5f5;
}
